<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhx.storytree.commons.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.lhx.storytree.commons.domain.Menu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_father_id" jdbcType="INTEGER" property="menuFatherId" />
    <result column="menu_tag" jdbcType="CHAR" property="menuTag" />
  </resultMap>
</mapper>