<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhx.storytree.commons.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.lhx.storytree.commons.domain.Permission">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_role_id" jdbcType="INTEGER" property="permissionRoleId" />
    <result column="permission_menu_id" jdbcType="INTEGER" property="permissionMenuId" />
    <result column="permission_status" jdbcType="CHAR" property="permissionStatus" />
  </resultMap>
</mapper>